<header>
    <nav>
        <section class='wrapper'>
               <a href='/'><img  src="" alt="logo-application"></a> 
            
        </section>

            <ul>
                <li><a href='/profile'>My Profile</a></li>
                <li><a href='/matchen'>Find Matches</a></li>
            </ul>
        
    </nav>
</header>