<!doctype html>

<head>
    <link href="./style.css" rel="stylesheet" type="text/css">
    <title>Matching Application</title>
</head>

<body class="error-page">
    <header>
        <img src="/images/logofestflirt.png">
    </header>
    
    <main>
        <section>
        <h1>404 page error.</h1>
        <img src="/images/errorgif.gif">
            <p>Helaas hebben wij de door u opgevraagde pagina niet gevonden</p>
                <a href='/'>Klik hier om terug te gaan naar de homepagina</a>
            </section>
    </main>



</body>