<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="./style.css">
    <title>Filteren Matching Application</title>
</head>

<body class="filteren">

   
  <header>
    <img src="/images/logofestflirt.png">
</header>

<main class="filtermain">
    <form action="./matchen" method="POST">

        <!-- Geslacht -->
        
        <fieldset>
        <label id="koppen" for="geslacht">Kies een geslacht:</label>
        <div>
        <input type="radio" name="geslacht" value="Man" id="man" required>
           <label for="man">Man</label>
         
            
           <input type="radio" name="geslacht" value="Vrouw" id="vrouw" >
            <label for="vrouw">Vrouw</label>
        </div>

         </fieldset>
        
         
       <!-- Leeftijdscategorie -->
        <fieldset>
        <label id="koppen" for="leeftijd">Kies een leeftijdscategorie</label>
        <div>
         <input type="radio" name="leeftijd" value="18" id="18" required>
           <label for="18">18 tot 25 jaar</label>
     
           <input type="radio" name="leeftijd" value="25" id="25">
             <label for="25">25 tot 30 jaar</label>
             
          
             <input type="radio" name="leeftijd" value="30" id="30">
            <label for="30">30 tot 50 jaar</label>
            
            <input type="radio" name="leeftijd" value="50" id="50">
             <label for="50">Boven de 50+</label>
        </div>
            
           
         </fieldset>
        
        
        <!-- Muziek genre -->
        <fieldset>
        <label id="koppen" for="muziekgenre">Kies een muziekgenre</label>
        
        <div>
        <input type="radio" name="muziekgenre" value="HipHop" id="hiphop" required>
           <label for="hiphop">HipHop</label>

           
           <input type="radio" name="muziekgenre" value="Techno" id="techno">
            <label for="techno">Techno </label>

           
            <input type="radio" name="muziekgenre" value="Pop" id="pop">
            <label for="pop">Pop </label>
           
            
            <input type="radio" name="muziekgenre" value="R&B" id="r&b">
            <label for="r&b">R&B</label>
          
          
            <input type="radio" name="muziekgenre" value="Jazz" id="jazz">
            <label for="jazz">Jazz</label>
        </div>
    

      
          
           
         </fieldset>

         <input type="submit" name="filteren" value="Bevestigen" id="submitbutton">

        </main>

</body>