<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
  <link href="./style.css" rel="stylesheet" type="text/css">
  <script src="index.js"></script>

</head>


<body class="inloggen">

  <section>
    <h1>
      Log nu in!
    </h1>

    <form name="inlogform" method="POST" action="/Login">
      <label for="username">
        Gebruikersnaam
        <input type="text" id="username" name="username" />
      </label>

      <label for="password">
        Wachtwoord
        <input type="text" id="password" name="password" />
      </label>
      <br />

      <input type="submit" value="Log in" />
    </form>

    <p>Heb je nog geen Account? <a href="/Registreren">Registreer nu!</a></p>

  </section>


</body>
</html>



