<!doctype html>
<head>
    <link rel="stylesheet" type="text/css"   href="./style.css">
    <title>Liken Matching Application</title>
</head>
<body class="festivallike">
    <header>
        <img src="/images/logofestflirt.png" alt="imglogo">
    </header>
    <main>
        <section>
            <% getInformation.forEach(festival => { %>
                <img src="<%= festival.imgFestival %>">
                    <form action="/liken" method="POST">
                        <input type="hidden" name="itemid" value="<%= festival._id %>">
                            <% if (festival.liked) { %>
                                <button><img class="hartjevol" src="/images/FullRedHeart.png" alt="like"></button>
                            <% } else { %>
                                <button><img class="hartjeleeg" src="/images/EmptywhiteHeart.png" alt="unlike"></button> 
                            <% } %>
                    </form>
            <% }) %>
        </section>
        <section>
            <a href="profile">SUBMIT YOUR CHOICE</a>
        </section>
    </main>
    <script src="/script/client.js"></script>
</body>