<!doctype html>
<head>
    <link rel="stylesheet" type="text/css"   href="./style.css">
    <title>Liken Matching Application</title>
</head>
<body class="festivallike">
    <section class="liken-page">
        <%- include('./partials/nav.ejs'); %> 
        <h1>Kyara</h1>
            <p>Deze view is gerendered uit /routes/liken.js</p>
        
    </section>

</body>