<!doctype html>
<head>
    <link rel="stylesheet" type="text/css"   href="./style.css">
    <title>Liken Matching Application</title>
</head>
<<<<<<< Updated upstream
<body class="festivallike">
    <section class="liken-page">
        <%- include('./partials/nav.ejs'); %> 
        <h1>Kyara</h1>
            <p>Deze view is gerendered uit /routes/liken.js</p>
        
    </section>
=======

<body class="festivallike">
    <header>
        <img src="/images/logofestflirt.png">
    </header>
    <main>
        <section>

        </section>
    </main>
</body>

 <!-- <section class="liken-page"> -->
            <!-- <%- include('./partials/nav.ejs'); %>  -->
>>>>>>> Stashed changes

            <!-- <h1>Kyara</h1> -->
            <!-- <p>Deze view is gerendered uit /routes/liken.js</p> -->