<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="./style.css">
    <title>Filteren Matching Application</title>
</head>

<body>

    <section class="matchen-page">
        <%- include('./partials/nav.ejs'); %> 

        <h1>Zoek jouw perfecte match!</h1>
        <div class="match-card-container">
            <div class="match-card" >
                <div class="profile-metadata">
                    <img src="/static/images/logofestflirt.png"></img>
                    <h2>Naam</h2>
                    <p>Locatie, 28</p>
                    <p>Bio</p>
                    <p>Genres:</p>
                    <p>Festivals:</p>
                </div>
            </div>
        </div>
       
        
    </section>

</body>