<!doctype html>

<head>
    <link rel="stylesheet" type="text/css"   href="./style.css">
    <title>Filteren Matching Application</title>
</head>

<body>

    <section class="matchen-page">
        <%- include('./partials/nav.ejs'); %> 

        <h1>Ronan</h1>
            <p>Deze view is gerendered uit /routes/matchen.js</p>
        
    </section>

</body>