:root {
  --clr-backgroundblack: black;
  --clr-textwhite: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*----------------*/
/* Navbar */
/*----------------*/

nav {
  background-color: rgb(30, 30, 30);
}

.wrapper img {
  width: 120px;
  height: 50px;
  margin-top: .8em;
  margin-left: 5%;
  float: left;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 1.5em 1em;
  margin-top: 0;
  justify-content: flex-end;
}

nav li a {
  color: white;
  display: block;
  font-size: 1em;
  font-weight: bold;
  height: 30px;
  letter-spacing: 1px;
  margin: 0 14px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

nav li a:before,
nav li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -1px;
}

nav li a:before {
  left: 0;
  transition: 0.5s;
}

nav li a:after {
  background: rgb(255, 247, 14);
  right: 0;
}

nav li a:hover:before {
  background: rgb(255, 247, 14);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

.wrapper img {
  height: 50px;
  width: auto;
}


/*----------------*/
/* login page css */
/*----------------*/

.inloggen {
  background-image: url(./images/logofestflirt.png);
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
}

.inloggen>section:nth-of-type(1) {}

.inloggen h1 {
  color: var(--clr-textwhite);
}




/*-------------*/
/* Registreren */
/*-------------*/


/*---------------------*/
/* Festivals toevoegen */
/*---------------------*/



/*----------*/
/* Filteren */
/*----------*/
.filteren {
  background-image: url("images/mainbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100vh;
}

.filtermain {
  display: flex;
  justify-content: center;
}

.filteren form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/logofestflirt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;
  margin-right: 5em;
  border: solid 5px rgb(255, 247, 14);
  border-radius: 12px;
  background-color: black;
  color: white;
  box-shadow: 5px 10px 8px #000;
  margin-top: 60px;
  width: 500px;
  padding-top: 30px;
}


.filteren fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: fit-content;
  margin-left: 50px;
  margin-right: 50px;
 
}

.filteren div {
  display: flex;
  flex-direction: row;
}

.filteren div label {
  background-color: rgb(30, 30, 30);
}

.filteren label {
  border: solid 2pt rgb(255, 247, 14);
  margin: 5px;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
  color: rgb(255, 247, 14);

}

.filteren input[type="radio"] {
display: none;
}

.filteren input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: white;
  color: black;
}

input[type="checkbox"]:checked + label {
  background-color: white;
  color: black;
}

input[type="radio"]:not(:checked) + label {
  background-color: black;
  color: white;
}

input[type="checkbox"]:not(:checked)+ label {
  background-color: black;
  color: white;
}

#koppen {
  font-size: 18pt;
  color: white;
  border: none;
  margin: 0px;
}


#submitbutton {
  color: black;
  font-size: 10pt;
  width: fit-content;
  background-color: rgb(255, 247, 14) ;
  border: solid 3pt rgb(255, 247, 14);
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 190px;
  margin-top: 30px;
  margin-bottom: 30px;

}

/*---------*/
/* Matchen */
/*---------*/