:root {
 --clr-backgroundblack: black;
 --clr-textwhite: white;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}


/*----------------*/
/* login page css */
/*----------------*/

.inloggen {
  background-color: black;
}

.inloggen>section:nth-of-type(1) {

}

.inloggen h1 {
  color: var(--clr-textwhite);
}




/*-------------*/
/* Registreren */
/*-------------*/


/*---------------------*/
/* Festivals toevoegen */
/*---------------------*/



/*----------*/
/* Filteren */
/*----------*/



/*---------*/
/* Matchen */
/*---------*/

.matchen-page h1{
  color: white;
}