@font-face {
  font-family: 'auxilia-black';
  src: url('auxilia-black-webfont.woff2') format('woff2'),
       url('auxilia-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'auxilia-bold';
  src: url('auxilia-bold-webfont.woff2') format('woff2'),
       url('auxilia-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'auxilia';
  src: url('auxilia-webfont.woff2') format('woff2'),
       url('auxilia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
 --clr-background: grey;
 --clr-textwhite: white;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'auxilia';
}

/*----------------*/
/* Navbar */
/*----------------*/

nav{
  background-color: rgb(30, 30, 30);
}

.wrapper img{
  width: 120px;
  height: 50px;
  margin-top: .8em;
  margin-left: 5%;
  float: left;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 1.5em 1em;
  margin-top: 0;
  justify-content: flex-end;
}

nav li a {
  color: white;
  display: block;
  font-size: 1em;
  font-family: 'auxilia-bold';
  height: 30px;
  letter-spacing: 1px;
  margin: 0 14px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

nav li a:before, nav li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -1px;
}

nav li a:before {
  left: 0;
  transition: 0.5s;
}

nav li a:after {
  background: rgb(255, 247, 14);
  right: 0;
}

nav li a:hover:before {
  background: rgb(255, 247, 14);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

.wrapper img{
  height: 50px;
  width: auto;
}


/*----------------*/
/* login page css */
/*----------------*/

.inloggen {
  background-image: url(./images/Background-festflirt.png);
  background-size: cover;
  background-position: 0em -4em;
}

.inloggen>section:nth-of-type(1) {

}

.inloggen h1 {
  color: var(--clr-textwhite);
}




/*-------------*/
/* Registreren */
/*-------------*/


/*---------------------*/
/* Festivals toevoegen */
/*---------------------*/



/*----------*/
/* Filteren */
/*----------*/



/*---------*/
/* Matchen */
/*---------*/

.matchen-page h1{
  padding: 2em;
  font-family: 'auxilia-bold';
  font-size: 2.5em;
}

.match-card-container{
  display: flex;
  justify-content: center;
}

.match-card{
  border: 1px solid black;
  padding: 1em;
  width: 300px;
  height: 500px;
  display: flex;
}

.button-container{
  align-self: center;
  margin: 10em;
}

.button-container img{
  width: 70px;
  height: auto;
  cursor: pointer;
}

.dislike-button{
  float: left;
  align-self: center;
  background: none;
  border: none;
}

.like-button{
  float: right;
  align-self: center;
  background: none;
  border: none;
}

.dislike-button:hover,
.like-button:hover{
  transform: scale(1.1);
  transition: 1s;
}

